@charset "UTF-8";
/*body*/
body {
  font-family: PingFang TC,微軟正黑體;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

/*nav*/
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px auto;
}

nav ul {
  width: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul li:hover {
  text-decoration: underline;
}

.burgerMenu {
  width: 24px;
  height: 24px;
  display: none;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/dehaze-24px.png");
}

.navLogo {
  width: 220px;
  height: 40px;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg);
  background-repeat: no-repeat;
  display: block;
}

.navMenu {
  width: 34%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navMenu .navTxt {
  max-height: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navMenu .active {
  max-height: 200px;
}

.navTxt a, .menu a {
  color: #3F5D45;
  font-weight: 800;
  text-decoration: none;
  padding: 10px;
}

/*footer*/
.subscribe {
  background: #3F5D45;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 0px;
}

.subscribe .innerSubscribe {
  width: 76%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logoTxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 124px;
}

.logoTxt .logo {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.logoTxt h2 {
  font-size: 24px;
  color: #EAF0ED;
}

form {
  width: 380px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form label {
  width: 64px;
  background: #EAF0ED;
  padding: 16px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form label:hover {
  cursor: pointer;
}

form .inputTxt {
  width: 252px;
  height: 56px;
  background: #EAF0ED;
  border: 0px;
  padding: 0px;
}

form .inputBtn {
  width: 64px;
  background: #FFE180;
  height: 56px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 20px;
}

.information {
  color: #3F5D45;
  background: #EAF0ED;
}

.information .infor {
  width: 76%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0px;
}

.information .contact {
  width: 76%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.information h2 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 23px;
  letter-spacing: 3px;
  line-height: 1.5em;
}

.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detail img {
  width: 171.22px;
  height: 26.6px;
  margin-bottom: 39.5px;
}

.detail p {
  line-height: 1.5em;
}

.contact {
  width: 76%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 30px;
}

.contact .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .icon img {
  width: 32px;
  padding-right: 8px;
}

/*----------for pad----------*/
@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
  /*nav*/
  .burgerMenu {
    display: block;
  }
  .navLogo {
    width: 114px;
    height: 18px;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logotype-sm-dark.svg);
  }
  .navMenu {
    width: 24px;
  }
  .navMenu .navTxt {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 84px;
    left: 0px;
    text-align: center;
    line-height: 2.5em;
    background: #fff;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    overflow: hidden;
  }
  .navMenu .navTxt li {
    width: 100%;
  }
  /*footer*/
  .innerSubscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .innerSubscribe .logoTxt {
    margin: 0px 0px 30px;
  }
  form {
    width: 315px;
  }
  form .inputTxt {
    width: 187px;
  }
  .contact {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact .icon {
    margin-bottom: 23px;
  }
  .contact p {
    font-size: 14px;
  }
}

/*----------for phone----------*/
@media (max-width: 414px) {
  .container {
    max-width: 414px;
  }
  .logoTxt h2 {
    font-size: 22px;
  }
  .information h2 {
    display: none;
  }
  .information .infor {
    height: 138px;
  }
}
/*# sourceMappingURL=layout.css.map */