@import "reset";
@import "layout";
@import "success";

/*banner*/
.banner{
	margin-bottom: 60px;
}

/*main*/
.main{
	text-align: center;
	display: flex;
	justify-content: space-between;	
}

/*main_menu*/
.menu{
	flex-basis:33%;
	font-size: 24px;
	letter-spacing: 0px;
	h3{
		color:#fff;	
		background: #3F5D45;
		padding:16px 10%;
	}
	li{
		font-size: 23px;
		letter-spacing: 0px;
		box-sizing: border-box;
		border: 1px solid #EAF0ED;
		border-top: 0px;
		&:hover{
			background: #EAF0ED;
		}	
	}
	a{
		display:block;
		margin: 0 auto;
		padding: 16px 0px;
	}
}

/*main_product*/
.product{
	flex-basis: 66%;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	li{
		width: 300px;
		margin:0px auto 20px;
		position: relative;
		.buy{
			display:block;
			background: #EAF0ED;
			padding: 16px 90px;
			color: #3F5D45;
			text-decoration: none;
			font-size: 24px;
			font-weight: 1000;
		}
	}
}

.product li .buy:hover{
	color:#fff;
	background: #3F5D45;
}

.product{
	h4{
		width: 36px;
		color:#fff;
		line-height: 1.2em;
		background: #3F5D45;
		padding: 10px;
		box-sizing: border-box;
		position: absolute;
		left: 20px;
	}
	.heart{
		position: absolute;
		left: 258px;
		top: 20px;
	}
	img{	
		display:block;
	}
}

.text{
	font-size: 20px;
	display: flex;
	flex-wrap:nowrap;
	justify-content:center;
	h3{
		width:107px;
		color: #3F5D45;
		padding: 14px 33px;
		border: 1px solid #EAF0ED;	
	}
	span{
		width:82px;
		padding: 14px 20px 14px 25px;
		border: 1px solid #EAF0ED;
		border-left: 0px;
	}
}


/*page*/
.page{
	ul{
		flex-basis: 300px;
		display: flex;
		justify-content: flex-end;
		margin-bottom: 60px;
	}
	li{
		a{
			width: 60px;
			height: 60px;	
			background: #fff;
			color:#3F5D45;
			text-decoration: none;
			text-align: center;	
			border: 1px solid #EAF0ED;
			box-sizing: border-box;
			padding:0;
			display: flex;
			justify-content: center;
			align-items: center;
			&:hover{
				color: #fff;
				background: #3F5D45;
			}
		}
	}
	.pageNum{
		&:hover{
			background: #EAF0ED;
		}
	}
}


/*----------for pad----------*/
@media(max-width: 768px){
	/*banner*/
	.banner{
		margin: 0px;
	}

	/*main*/
	.main{
		flex-direction: column;
	}

	.menu{
		width: 100%;
		margin-bottom: 30px;
	}

	.product, .page{
		width: 92%;
		margin: 0 auto;
	}
}

/*----------for phone----------*/
@media(max-width: 414px){
	.page{
		ul{
			width: 300px;
			margin: 0px auto 60px;
		}
	}
}